#context-menu {
	position: absolute;
	background-color: #111214;
	padding: 6px 8px;
	border-radius: 8px;
}

#context-menu > li {
	color: #e3e3e3;
	font-size: 14px;
	padding: 6px 8px;
	min-height: 24px;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

#context-menu > li:hover {
	background-color: #505cdc;
}

#context-menu > li.warning {
	color: #f23f42;
}

#context-menu > li.warning:hover {
	background-color: #da373c;
	color: white;
}
